body{background-color: black}

.class{color:#33edd8}

#quote {color: aliceblue; 
        
    background-color: darkgray; 
    
    font-family: cursive;
    
    font-size: 1.5em
                

}


h1, 
h2 {
    font-family: sans-serif;
    
    color: whitesmoke;
}

a {color: whitesmoke;
    font-family: sans-serif;
    
}